.special-vs {
  font-size: 9rem;
  font-weight: bold;
  transform: rotate(9deg);
  color: #21bdf1;
  text-shadow: #ed27a0 0 0 2rem;
  margin-left: -4.5rem;
  margin-right: -4.5rem;
}

.brand-text {
  color: #21bdf1;
  text-shadow: #ed27a0 0 0 2rem;
  font-style: italic;
}

.versus-product:hover {
  box-shadow: #ed27a0 0 0 2rem;
}

.rainbow div:nth-child(6n + 1) {
  background-color: hsl(0, 100%, 50%);
}

.rainbow div:nth-child(6n + 2) {
  background-color: hsl(60, 100%, 50%);
}

.rainbow div:nth-child(6n + 3) {
  background-color: hsl(120, 100%, 50%);
}

.rainbow div:nth-child(6n + 4) {
  background-color: hsl(180, 100%, 50%);
}

.rainbow div:nth-child(6n + 5) {
  background-color: hsl(240, 100%, 50%);
}

.rainbow div:nth-child(6n + 6) {
  background-color: hsl(300, 100%, 50%);
}
